[Desktop Entry]
Version = 1.0
Name = pineapple
Exec = /mnt/c/Users/qanastek/Desktop/cours/licence_2_2018-2019/system_exploitation/test_uapv1/Pineapple-Monitoring
Icon = /mnt/c/Users/qanastek/Desktop/cours/licence_2_2018-2019/system_exploitation/test_uapv1/Pineapple-Monitoring/icon_pineapple.png
Type = Application