{% extends "default.html.j2" %}

{% block title %}
  Dashboard
{% endblock %}

{% block pageTitle %}
  Dashboard
{% endblock %}

{% block content %}
    <!-- Content Row -->
    <div class="row">

      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Machines connectés</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ data['distinctComputers'] }}</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-desktop fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Requetes reçus en 24 HRS</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ data['countRequest'] }}</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-server fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Alertes en 48 HRS</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ data['alerts'] }}</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-exclamation-triangle fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">dernière requête</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ data['lastMaj'] }}</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-cloud-upload-alt fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Content Row -->

    <div class="row">

      <!-- Area Chart -->
      <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Requêtes des 24 dernières heures</h6>
            <div class="dropdown no-arrow">
              <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Dropdown Header:</div>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
          <!-- Card Body -->
          <div class="card-body">
            <div class="chart-area">
              <canvas id="myAreaChart"></canvas>
            </div>
          </div>
        </div>
      </div>

      <!-- Pie Chart -->
      <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Vulnerabilités</h6>
            <div class="dropdown no-arrow">
              <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Dropdown Header:</div>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
          <!-- Card Body -->
          <div class="card-body">
            <div class="chart-pie pt-4 pb-2">
              <canvas id="myPieChart"></canvas>
            </div>
            <div class="mt-4 text-center small">
              <span class="mr-2">
                <i class="fas fa-circle text-danger"></i> High
              </span>
              <span class="mr-2">
                <i class="fas fa-circle text-warning"></i> Medium
              </span>
              <span class="mr-2">
                <i class="fas fa-circle text-success"></i> Low
              </span>
              <span class="mr-2">
                <i class="fas fa-circle text-info"></i> N/A
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Content Row -->
    <div class="row">

      <!-- Content Column -->
      <div class="col-lg-6 mb-4">

        <!-- Project Card Example -->
        <div class="card shadow mb-4">

          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary" style="text-transform: none;">Incidents / Maintenances en cours</h6>
          </div>

          <div class="card-body">

            <table class="table table-striped">
              <tbody>
                <tr>
                  <th scope="row">
                    <i class="fab fa-windows" style="font-size: 1.5em;"></i>
                  </th>
                  <td style="text-transform: uppercase;">YANIS-PC</td>
                  <td>
                    <span class="mr-2" style="text-transform: uppercase;" >
                      <i class="fas fa-circle text-danger"></i> Critique
                    </span>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <i class="fab fa-ubuntu" style="font-size: 1.5em;"></i>
                  </th>
                  <td style="text-transform: uppercase;">OMEN-HOME</td>
                  <td>
                    <span class="mr-2" style="text-transform: uppercase;" >
                      <i class="fas fa-circle text-danger"></i> Critique
                    </span>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <i class="fab fa-linux" style="font-size: 1.5em;"></i>
                  </th>
                  <td style="text-transform: uppercase;">MYSQL_1</td>
                  <td>
                    <span class="mr-2" style="text-transform: uppercase;" >
                      <i class="fas fa-circle text-warning"></i> Normale
                    </span>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <i class="fab fa-redhat" style="font-size: 1.5em;"></i>
                  </th>
                  <td style="text-transform: uppercase;">BACKUP_MANAGER</td>
                  <td>
                    <span class="mr-2" style="text-transform: uppercase;" >
                      <i class="fas fa-circle text-success"></i> Faible
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>

      </div>

      <div class="col-lg-6 mb-4">

        <!-- Illustrations -->
        <div class="card shadow mb-4">

          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Informations Générales</h6>
          </div>

          <div class="card-body">
            <div class="text-center">
              <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="{{ url_for('static', filename='img/undraw_server_down_s4lk.svg') }}" alt="">
            </div>
            <p>Ne soyer plus en position désagréable àprès le crash de machines importantes en adoptant notre nouvelle solution innovante <a target="_blank" rel="nofollow" href="https://github.com/qanastek/Pineapple-Monitoring">Pineapple Monitoring</a>. Grâce à Pineapple Monitoring vous aurait toujours un coup d'avance sur vos machines.</p>
            <a target="_blank" rel="nofollow" href="https://github.com/qanastek/Pineapple-Monitoring">En savoir plus sur pineapple monitoring &rarr;</a>
          </div>

        </div>

      </div>
    </div>

{% endblock content %}

{% block script %}

  <!-- Page level plugins -->
  <script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js') }}"></script>

  <!-- Page level custom scripts -->
  <script src="{{ url_for('static', filename='js/demo/chart-area-demo.js') }}"></script>
  <script src="{{ url_for('static', filename='js/demo/chart-pie-demo.js') }}"></script>

{% endblock script %}