<!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ url_for('index') }}">

        <div class="sidebar-brand-icon rotate-n-15">
          <img id="iconPineSidePanel" src="{{ url_for('static', filename='img/Icon_Pine_Apple.png') }}" style="width: 100%;">
        </div>

        <div class="sidebar-brand-text mx-3">Pineapple Monitoring</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('index') }}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Générale
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('vulnerabilites') }}">
          <i class="fas fa-biohazard"></i>
          <span>Vulnerabilités</span></a>
      </li>

      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('historique') }}">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Historique</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('historiqueAlerts') }}">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Historique Alertes</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('rrdtools') }}">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>RRDTOOLS</span></a>
      </li>

      <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('ordinateurs') }}">
          <i class="fas fa-desktop"></i>
          <span>Ordinateurs</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Paramètres
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">

        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('emails') }}">
            <i class="far fa-envelope"></i>
            <span>Paramètres E-mails</span></a>
        </li>

      </li>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">

        <a class="nav-link collapsed" href="{{ url_for('general') }}" data-toggle="collapse" data-target="#headingGeneral" aria-expanded="true" aria-controls="headingGeneral">
          <i class="fas fa-fw fa-cog"></i>
          <span>Généraux</span>
        </a>

        <div id="headingGeneral" class="collapse" aria-labelledby="headingGeneral" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Généraux :</h6>

            <a class="collapse-item" href="{{ url_for('config_exportation') }}">Format d'exportation</a>
            <a class="collapse-item" href="{{ url_for('config_theme_ui') }}">Thème</a>
            <a class="collapse-item" href="{{ url_for('config_data') }}">Données</a>
            <a class="collapse-item" href="{{ url_for('config_customizer') }}">Personnalisation</a>
          </div>
        </div>

      </li>

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">

        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('alarmes') }}">
            <i class="fas fa-exclamation-triangle"></i>
            <span>Paramètres Alarmes</span></a>
        </li>

      </li>

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->