{% extends "ParentDatabase.html.j2" %}

{% block title %}
  Historique Complet
{% endblock %}

{% block pageTitle %}
  Historique Complet
{% endblock %}

{% block lien %}
  {{ url_for('historique') }}
{% endblock lien %}