{% extends "default.html.j2" %}

{% block title %}
  E-mails
{% endblock %}

{% block pageTitle %}
  E-mails
{% endblock %}

{% block content %}

<div class="col-md-6">
  
  <form method="POST" action="{{ url_for('emailMaj') }}">

    <div class="form-group">
      <label for="formGroupExampleInput">URL du serveur SMTP : </label>
      <input required type="text" class="form-control" value="{{ data['addresse'] }}" id="formGroupExampleInput" placeholder="Entrer ici la nouvelle valeur ..." name="addresse">
    </div>

    <div class="form-group">
      <label for="formGroupExampleInput2">Port : </label>
      <input required type="text" class="form-control" value="{{ data['port'] }}" id="formGroupExampleInput2" placeholder="Entrer ici la nouvelle valeur ..." name="port">
    </div>

    <div class="form-group">
      <label for="formGroupExampleInput2">E-mail de l'envoyeur : </label>
      <input required type="text" class="form-control" value="{{ data['senderMail'] }}" id="formGroupExampleInput2" placeholder="Entrer ici la nouvelle valeur ..." name="senderMail">
    </div>

    <div class="form-group">
      <label for="formGroupExampleInput2">Mot de passe STMP (API KEY / APP KEY) : </label>
      <input required type="password" class="form-control" value="{{ data['password'] }}" id="formGroupExampleInput2" placeholder="Entrer ici la nouvelle valeur ..." name="password">
    </div>

    <div class="form-group">
      <label for="formGroupExampleInput2">Signature : </label>
      <textarea required class="form-control" id="formGroupExampleInput2" placeholder="Entrer ici la nouvelle valeur ..." name="signature">{{ data['signature'] }}</textarea>
    </div>

    <button type="submit" class="btn btn-primary mb-4" style="text-transform: uppercase;">Envoyer</button>

  </form>

</div>

{% endblock content %}