{% extends "default.html.j2" %}

{% block content %}

    <div class="row">

      <div class="col-md-2">

        <form method="GET" action="{% block lien %}{% endblock lien %}" class="mb-3">

          <button type="submit" name="sort" value="ASC" class="btn btn-outline-primary mb-2">OLD</button>
          <button type="submit" name="sort" value="DESC" class="btn btn-outline-primary mb-2">RECENT</button>
          
        </form>
        
      </div>
      
    </div>

    <div class="row">

      <div class="col-xl-12 col-md-12 mb-4">

        <table class="table">

          <thead>
            <tr style="text-transform: uppercase;">
              <th scope="col">OS</th>
              <th scope="col">MAC</th>
              <th scope="col">Date</th>
              <th scope="col">Cpu Load</th>

              <th scope="col">Disk Usage</th>
              <th scope="col">Swap Usage</th>
              <th scope="col">Memory Usage</th>

              <th scope="col">Connected Users</th>
              <th scope="col">Process</th>
            </tr>
          </thead>

          <tbody>
            {% if sort == "DESC" %}

             {% set sens = True %}

            {% elif sort == "ASC" %}

             {% set sens = False %}

            {% else %}

             {% set sens = True %}

            {% endif %}

            {% for entries in DB | sort(attribute='1', reverse = sens) %}

            <tr>
              <td>
                {% if entries.8 == "linux" %}
                  <i class="fab fa-linux" style="font-size: 1.5em;"></i>
                {% elif entries.8 == "windows" %}
                  <i class="fab fa-windows" style="font-size: 1.5em;"></i>
                {% else %}
                  <i class="fas fa-question"></i>
                {% endif %} 
              </td>
              <td>{{ ToMacAddresse(entries.0) }}</td>
              <td>{{ DateToRead(entries.1) }} </td>
              <td>{{ entries.2 }}</td>

              <td>{{ entries.3 }}</td>
              <td>{{ entries.4 }}</td>
              <td>{{ entries.5 }}</td>

              <td>{{ entries.6 }}</td>
              <td>{{ entries.7 }}</td>
            </tr>

            {% endfor %}

          </tbody>

        </table>

      </div>

    </div>

{% endblock content %}

{% block script %}

  <!-- Page level plugins -->
  <script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js') }}"></script>

  <!-- Page level custom scripts -->
  <script src="{{ url_for('static', filename='js/demo/chart-area-demo.js') }}"></script>
  <script src="{{ url_for('static', filename='js/demo/chart-pie-demo.js') }}"></script>

{% endblock script %}